* {
    margin: 0px;
    padding: 0px;
}

/* This is CSs style of header */
header {
    background-color: #000000;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

/* This is CSS style of navbar */
nav ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 17px;
    font-size: 25px;

}

li a:hover {
    color: #E55473;
}

nav li {
    display: inline;
    margin-right: 15px;

}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Section 1 Start */
/* This is CSS style of banner */

.banner {
    background-color: #f351741a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}

.banner-image {
    width: 400px;
    margin-top: 51px;
    margin-right: 200px;


}

/* This is CSS style of heading */
.heading {
    font-size: 50px;
    font-weight: bold;
    padding: 0%;
    margin-left: 100px;
}

.section1-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f3a3a99;
    margin-left: 100px;
}

/* This is CSS style of button */

.btn {
    padding: 10px 20px;
    background-color: #E55473;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(0, 0, 0);
}

.btn a {
    text-decoration: none;
    color: #ffffff;
}

.btn {
    background-color: #E55473;
    border: none;
    color: #ffffff;
}

.btn1 {
    padding: 10px 20px;
    background-color: #E55473;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
}
.btn1 a{
    text-decoration: none;
    color: #ffffff;
}
.btn1:hover {
    background-color: rgb(0, 0, 0);
}


/* section 2 */
.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;

}

.flower-sample1 {
    border-radius: 250px 250px 0px 0px;
    background-size: 500px;
    background-color: #477D1126;
    width: 450px;
    height: 520px;
}

.flower-sample2 {
    border-radius: 250px 250px 0px 0px;
    background-color: #0597A026;
    width: 450px;
    height: 520px;
}

.flower-sample3 {
    border-radius: 250px 250px 0px 0px;
    background-color: #477D1126;
    width: 450px;
    height: 520px;

}

.sample1 {
    margin-top: 49px;
}

.sample2 {
    margin-top: 100px;
}

.sample3 {
    margin-top: 92px;
}

.flower-sample {
    margin-top: 20px;

}

.flower-sample0 {
    margin-top: 100px;
}

/* Section 4 start*/
.bg-heading {
    margin-right: 30px;
    font-size: 20px;
}

.section4-img {
    margin-left: 200px;
}


.section4 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f351741a;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    height: 400px;

}

.section4-paragraph {
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #3f3a3a99;
    font-size: 20px;
}

/* section 5 */
.section5 {
    background-color: #fff;
    background-size: 300px;
}

.section5-heading,
.section2-heading {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.section5-paragraph,
.section2-paragraph {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: #3f3a3a99;
}

.section5-png {
    display: flex;
    justify-content: center;
    margin: 20px 70px 20px 70px;


}

/* Section 6 */





.section6-paragraph,
.section6-heading {
    text-align: center;
    margin-top: 100px;
}

.section6-paragraph {
    color: #3f3a3a99;
    margin-top: 10px;

}


.section6-btn6 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.section6-input-email {
    background-color: #fff;
    width: 350px;
    height: 40px;
    padding: 0px;
    margin-right: 200px;
}

.section6 {
    background-image: url(/asset/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    align-items: center;
    justify-content: center;
}

/* This is CSS style of footer  */
footer {
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 0px;
}

.footer-h3 {
    margin-bottom: 8px;
}

.footer-div {
    padding: 10px;
}

.featured-photos {
    display: flex;

}