* {
    margin: 0px;
    padding: 0px;
}

/* This is CSs style of header */
header {
    background-color: #000000;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

/* This is CSS style of navbar */
nav ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 17px;
    font-size: 25px;

}

li a:hover {
    color: #E55473;
}

nav li {
    display: inline;
    margin-right: 15px;

}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Section 1 Start */
/* This is CSS style of banner */

.banner {
    background-color: #f351741a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}

.banner-image {
    width: 400px;
    margin-top: 51px;


}

/* This is CSS style of heading */
.heading {
    font-size: 50px;
    font-weight: bold;
    padding: 0%;
}

.section1-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3f3a3a99;
}

/* This is CSS style of button */

.btn {
    padding: 10px 20px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(0, 0, 0);
}

.btn a {
    text-decoration: none;
    color: white;
}

/* Section 4 start*/
.bg-heading {
    margin-left: 10px;
}


.section4 {
    display: flex;
    background-color: #f351741a;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.section4-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3f3a3a99;
}

/* section 5 */
.section5-heading {
    text-align: center;
    margin-top: 100px;
}

.section5-paragraph {
    margin-top: 15px;
    margin-bottom: 40px;
    color: #3f3a3a99;
}

.section5-png {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

/* This is CSS style of footer  */
footer {
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 0px;
}

.footer-h3 {
    margin-bottom: 8px;
}

.footer-div {
    padding: 10px;
}

.featured-photos {
    display: flex;

}